* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.headerListParent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

#headerListChild {
  margin-left: 1rem;
  list-style-type: none;
}

li:last-of-type {
  margin-right: 1rem;
}

