* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.headerListParent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
  list-style-type: none;
}

.headerListChild {
  margin-left: 1rem;
}

.nine-dots-menu-parent {
  display: flex;
  flex-direction: column;
}

.nine-dots-menu-child {
  align-self: flex-end;

}

li:last-of-type {
  margin-right: 1rem;
}


